@page "/footer"

<footer>
    <span>Created By <a href="https://www.linkedin.com/in/aadarshtiwari/" target="_blank">Aadarsh Tiwari</a> | <span class="far fa-copyright"></span> 2024 All rights reserved </span>
</footer>